<div class="container">


    <div class="col-md-8 ">


        <div class="Card ForumHeader">

            <div class="header-navItem">

                分类1
            </div>

            <div class="header-navItem">

                分类2
            </div>

            <div class="header-navItem">

                分类3
            </div>
        </div>


        <div class="Card ForumItem">

            <div>
                <div class="topic-user pull-right">
                    <img class="avatar avatar-small" src="images/thumbnail50x50.jpg">
                    我是用户名
                </div>

                <div class="topic-title pull-left">
                    我是标题
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="topic-content">
                <blockquote>
                    Hello，各位这里是一个开放的社区，有什么问题你可以在这里尽情的讨论，包括技术，产品，小道消息......千万不要拘束。但是，凡事都有个但是，请不要恶意喷人，这里不太欢迎浑身充满负能量的人。。。...<a
                        href="" class="topic-more-color">查看更多</a>
                </blockquote>
            </div>

            <div class="font14 note-color">
                <div class="pull-left">


                    <a href="" class="note-color">
                        评论11
                    </a> • 浏览51 &nbsp;

                    <a href="" class="small-tag">生活</a>

                </div>
                <div class="pull-right">

                    最后评论来自

                    <a href="" class="note-color">
                        MapleFater
                    </a> • 211 天前

                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>


        <div class="Card ForumItem">

            <div>
                <div class="topic-user pull-right">
                    <img class="avatar avatar-small" src="images/thumbnail50x50.jpg">
                    我是用户名
                </div>

                <div class="topic-title pull-left">
                    我是标题
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="topic-content">
                <blockquote>
                    Hello，各位这里是一个开放的社区，有什么问题你可以在这里尽情的讨论，包括技术，产品，小道消息......千万不要拘束。但是，凡事都有个但是，请不要恶意喷人，这里不太欢迎浑身充满负能量的人。。。...<a
                        href="" class="topic-more-color">查看更多</a>
                </blockquote>
            </div>

            <div class="font14 note-color">
                <div class="pull-left">


                    <a href="" class="note-color">
                        评论11
                    </a> • 浏览51 &nbsp;

                    <a href="" class="small-tag">生活</a>

                </div>
                <div class="pull-right">

                    最后评论来自

                    <a href="" class="note-color">
                        MapleFater
                    </a> • 211 天前

                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>


        <div class="Card ForumItem">

            <div>
                <div class="topic-user pull-right">
                    <img class="avatar avatar-small" src="images/thumbnail50x50.jpg">
                    我是用户名
                </div>

                <div class="topic-title pull-left">
                    我是标题
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="topic-content">
                <blockquote>
                    Hello，各位这里是一个开放的社区，有什么问题你可以在这里尽情的讨论，包括技术，产品，小道消息......千万不要拘束。但是，凡事都有个但是，请不要恶意喷人，这里不太欢迎浑身充满负能量的人。。。...<a
                        href="" class="topic-more-color">查看更多</a>
                </blockquote>
            </div>

            <div class="font14 note-color">
                <div class="pull-left">


                    <a href="" class="note-color">
                        评论11
                    </a> • 浏览51 &nbsp;

                    <a href="" class="small-tag">生活</a>

                </div>
                <div class="pull-right">

                    最后评论来自

                    <a href="" class="note-color">
                        MapleFater
                    </a> • 211 天前

                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>


        <div class="Card ForumItem">

            <div>
                <div class="topic-user pull-right">
                    <img class="avatar avatar-small" src="images/thumbnail50x50.jpg">
                    我是用户名
                </div>

                <div class="topic-title pull-left">
                    我是标题
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="topic-content">
                <blockquote>
                    Hello，各位这里是一个开放的社区，有什么问题你可以在这里尽情的讨论，包括技术，产品，小道消息......千万不要拘束。但是，凡事都有个但是，请不要恶意喷人，这里不太欢迎浑身充满负能量的人。。。...<a
                        href="" class="topic-more-color">查看更多</a>
                </blockquote>
            </div>

            <div class="font14 note-color">
                <div class="pull-left">


                    <a href="" class="note-color">
                        评论11
                    </a> • 浏览51 &nbsp;

                    <a href="" class="small-tag">生活</a>

                </div>
                <div class="pull-right">

                    最后评论来自

                    <a href="" class="note-color">
                        MapleFater
                    </a> • 211 天前

                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>


        <div class="Card" id="topic-new-container" style="padding:10px">
            <p style="font-size:20px">发表主题</p>
            <div class=" col-md-9">

                <input type="text" class="form-control" ng-model="newTopic.title" placeholder="标题">
            </div>
            <div class="col-md-3">

                <select class="form-control" ng-model="newTopic.category">
                    <option>分类1</option>
                    <option>分类2</option>
                </select>
            </div>

            <div class="clearfix" style="margin-bottom:10px"></div>

            <div>
                <div id="topic-new-toolbar">

<span class="ql-formats">
<select class="ql-font">
<option selected=""></option>
<option value="serif"></option>
<option value="monospace"></option>
</select>
<select class="ql-size">
<option value="small"></option>
<option selected=""></option>
<option value="large"></option>
<option value="huge"></option>
</select>
</span>
                    <span class="ql-formats">
<button class="ql-bold"></button>
<button class="ql-italic"></button>
<button class="ql-underline"></button>
<button class="ql-strike"></button>
</span>
                    <span class="ql-formats">
<select class="ql-color"></select>
<select class="ql-background"></select>
</span>
                    <span class="ql-formats">
<button class="ql-list" value="ordered"></button>
<button class="ql-list" value="bullet"></button>
<select class="ql-align">
<option selected=""></option>
<option value="center"></option>
<option value="right"></option>
<option value="justify"></option>
</select>
</span>
                    <span class="ql-formats">
<button class="ql-link"></button>
<button class="ql-image"></button>
</span>

                </div>
                <div id="topic-new-editor" style="height: 200px;"></div>

                <div style="text-align:center;margin-top: 10px">
                    <input class="btn btn-default" type="button" ng-click="submitNewTopic()" value="发表新帖">


                </div>
            </div>
        </div>

    </div>

    <div class="col-md-4 my-navbar-right">
        <div class="Card">
            这里是个登录信息框
        </div>

        <div class="Card ForumItem">
            <div class="topic-title">
                这里是公告
            </div>

        </div>


    </div>

</div>