<div class="container">


    <div class="col-md-8 ">


        <div class="Card ForumHeader">

            <div class="header-navItem">

                分类1
            </div>

            <div class="header-navItem">

                分类2
            </div>

            <div class="header-navItem">

                分类3
            </div>

            <div class="pull-right">
                <button class="Button-Blue" ng-click="openTopicEditor()">
                    发帖
                </button>
            </div>
        </div>


        <div class="Card ForumItem" ng-repeat="topic in topics">

            <div>
                <div class="topic-user pull-right">
                    <img class="avatar avatar-small" ng-src="{{topic.user_img}}">
                    {{topic.username}}
                </div>

                <div class="topic-title pull-left">
                    <a ui-sref="detail({'id':topic.f_id})">{{topic.title}}</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="topic-content home-topic-content" ng-bind-html="topic.content">

            </div>

            <div class="font14 note-color">
                <div class="pull-left">


                    <a href="" class="note-color">
                        评论{{topic.comment_count}}
                    </a> • 浏览{{topic.visit}} &nbsp;

                    <a href="" class="small-tag">{{topic.category}}</a>

                    <a ng-show="topic.username==username" ng-click="openTopicEditor(topic)" class="note-color">编辑</a>
                </div>
                <div class="pull-right">

                    最后评论来自

                    <a href="" class="note-color">
                        MapleFater
                    </a> • {{getDateDiff(topic.created_at,nowTime)}} 天前

                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>

        <div style="text-align: center">
            <button class="btn btn-default" ng-click="loadMore()">加载更多</button>
        </div>


    </div>

    <div class="col-md-4 my-navbar-right">
        <div class="Card">
            这里是个登录信息框
        </div>

        <div class="Card ForumItem">
            <div class="topic-title">
                这里是公告
            </div>

        </div>


    </div>

</div>